@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Rajdhani:wght@300;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00004b;
  --secondary: #0c2371;
  --accent: #34dedf;
  font-family: "Rajdhani", sans-serif;
}

.font-main {
  font-family: "Electrolize", sans-serif;
}

@layer utilities {
  .bg-main-dark {
    background: rgb(17, 24, 39);
    background-size: 40px, cover, cover, cover;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat;
    background-position: center, center, center, center;
  }

  .bg-main-light {
    background: rgb(109, 153, 248);
    background-size: 40px, cover, cover;
    background-repeat: repeat, no-repeat, no-repeat;
  }

  .bg-header-dark {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(17, 24, 39)),
      url("./assets/sfondoStore.jpg");
    background-size: cover;
    background-position: center;
  }
  .bg-header-light {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7),
        rgb(109, 153, 248)
      ),
      url("./assets/sfondoStore.jpg");
    background-size: cover;
    background-position: center;
  }
}
body {
  --grey: #fafafa00;
  --blue: #1300ff;
  background: var(--white);
  padding-bottom: 100px;
  letter-spacing: -0.3px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
